@use '../abstracts' as *;

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;

  color: $body-color-default;
  background: $body-background-color;
  line-height: $body-line-height;

  overflow: hidden;
}

a {
  color: $link-color;
  text-decoration: none;

  &:is(:hover, :focus) {
    color: $link-color-hover;
  }
}

.app {
  z-index: 9999;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
